#container-weave {
  padding: 40px 30px;
}

#container-weave {
  padding: 40px 30px;
  display: flex;
  flex-direction: column;

  .tool-content {
    position: relative !important;
  }

  #weave {
    position: relative;
    width: 100% !important;
    > .tool {
      position: relative !important;
      width: 100% !important;
      height: auto !important;
      left: unset !important;
      top: unset !important;
    }
  }
}

#container-weave h1 {
  width: 100%;

  font-weight: bold;
}

#container-weave h1 .h1-author {
}
#container-weave h2 {
  width: 100%;

  font-weight: bold;
}

#container-weave h2 .h2-comment {
}

#container-weave h2 .h2-keyword {
}

#container-weave h3 {
  width: 100%;
}

#container-weave h3 .h3-number {
}

#container-weave .img-caption {
}

#container-weave {
  padding: 40px 30px;
}

#container-weave .t-quote {
  font-size: 14pt;
  font-family: 'libre baskerville', serif;
}

#container-weave .t-qorigin {
  font-family: 'nimbus sans l', sans-serif;
  font-size: 12pt;
  padding-top: 15px;
  text-align: right;
}

#container-weave .t-notes-wrapper {
  background-color: #fff6d7;
  text-decoration: none;
  font-family: 'ibm plex mono', monospace;
  font-size: 14pt;

  padding: 60px 50px;

  display: flex;
  flex-direction: column;
  margin-bottom: 80px;
  margin-left: 100px;
  margin-right: 100px;
}

#container-weave .t-notes-intro {
  text-decoration: underline;
  margin-top: 30px;
  margin-bottom: 30px;
}
#container-weave .t-notes-el {
  text-decoration: none;
  margin-bottom: 20px;
}

#container-weave .t-script {
  text-decoration: none;
  font-family: 'ibm plex mono', monospace;
  font-size: 14pt;
}

#container-weave .t-body {
  font-family: 'nimbus sans l', sans-serif;
  font-size: 14pt;
}

#container-weave .foot-label {
  vertical-align: super;
}

#container-weave .image-caption {
  font-family: 'nimbus sans l', sans-serif;
  font-size: 12pt;
  color: grey;
  margin-top: 10px;
  text-align: right;
}
