#container-weave {
  padding: 40px 30px;
  display: flex;
  flex-direction: column;

  .tool-content {
    position: relative !important;
  }

  #weave {
    position: relative;
    width: 100% !important;
    > .tool {
      position: relative !important;
      width: 100% !important;
      height: auto !important;
      left: unset !important;
      top: unset !important;
    }
  }
}

#container-weave h1 {
  width: 100%;

  font-weight: bold;
}

#container-weave h1 .h1-author {
}
#container-weave h2 {
  width: 100%;

  font-weight: bold;
}

#container-weave h2 .h2-comment {
}

#container-weave h2 .h2-keyword {
}

#container-weave h3 {
  width: 100%;
}

#container-weave h3 .h3-number {
}

#container-weave .img-caption {
}

#container-weave .t-quote {
}

#container-weave .t-notes-wrapper {
  background-color: #fff6d7;
}
#container-weave .t-notes-intro {
}
#container-weave .t-notes-el {
}

#container-weave .t-script {
}
#container-weave .t-body {
}

#container-weave .foot-label {
  vertical-align: super;
}
