#container-weave #content {
  margin-top: 40px;

  .row {
    margin-bottom: 40px;
  }
}

#container-weave .img-caption {
  font-family: "nimbus sans l", sans-serif;
  font-size: 12pt;
  color: grey;
  margin-top: 10px;
  text-align: right;
}

#container-weave .tool-content > img {
  margin-top: 25px;
}

#container-weave .tool .tool-text {
  /* margin-top: 25px;
  margin-bottom: 25px; */
}

#container-weave .image-caption {
  font-family: "nimbus sans l", sans-serif;
  font-size: 12pt;
  color: grey;
  margin-top: 10px;
  text-align: right;
}

#container-weave .h1 {
}

#container-weave h1 {
  font-family: "nimbus sans l", sans-serif;
  font-size: 36pt;
}

#container-weave h1 h2.h1-author {
  font-family: "nimbus sans l", sans-serif;
  font-size: 16pt;
}

#container-weave h2 {
  font-family: "nimbus sans l", sans-serif;
  font-size: 24pt;
}

#container-weave .h2-comment {
  margin-top: 12px;
  font-size: 18px;
  font-style: italic;
  text-align: right;
}

#container-weave h3 {
  font-family: "nimbus sans l", sans-serif;
  font-size: 20px;
  margin-top: 10px;
  margin-bottom: 20px;
}

#container-weave p {
  font-family: "nimbus sans l", sans-serif;
  font-size: 12pt;
  margin-bottom: 10px;
  line-height: 1.2;
  margin-bottom: 10px;
}

#container-weave .t-script {
  text-decoration: none;
  font-family: "ibm plex mono", monospace;
  font-size: 14pt;
}

#container-weave .t-body {
  font-family: "nimbus sans l", sans-serif;
  font-size: 14pt;
}

#container-weave .foot-note {
  font-size: 12pt;
  > a {
    font-size: 12pt;
  }
}

#container-weave .nav-wrapper {
  position: absolute;
  top: 50%;
  font-size: 36pt;
  font-family: "nimbus sans l", sans-serif;
  color: black;
  text-decoration: none;
}

#container-weave .nav-link {
  color: black;
  width: 100%;
  text-decoration: none;
  :hover {
    text-decoration: underline;
  }
}

#container-weave .left {
  text-align: left;
  left: 0;
}

#container-weave .right {
  text-align: right;
  right: 0;
}

#container-weave a,
a:visited {
  text-decoration: none;
}

#container-weave a {
  color: black;
}

#container-weave .t-quote {
  font-size: 14pt;
  font-family: "libre baskerville", serif;
}

#container-weave .t-qorigin {
  font-family: "nimbus sans l", sans-serif;
  font-size: 12pt;
  padding-top: 15px;
  text-align: right;
}

#container-weave .t-notes-wrapper {
  background-color: #fff6d7;
  text-decoration: none;
  font-family: "ibm plex mono", monospace;
  font-size: 14pt;

  padding: 60px 50px;

  display: flex;
  flex-direction: column;
  margin-bottom: 80px;
  margin-left: 100px;
  margin-right: 100px;
}

#container-weave .t-notes-intro {
  text-decoration: underline;
  margin-top: 30px;
  margin-bottom: 30px;
}
#container-weave .t-notes-el {
  text-decoration: none;
  margin-bottom: 20px;
}

#container-weave .island-quote-text {
  font-family: "libre baskerville", serif;
  font-size: 18pt;
  font-style: italic;
}
#container-weave .island-quote-source {
  padding-top: 30px;
  font-family: "nimbus sans l", sans-serif;
  font-size: 12pt;
  text-align: right;
}
