#container-weave {
  padding: 40px 60px;
  display: flex;
  flex-direction: column;

  .tool .tool-picture {
    width: 100% !important;
    max-width: calc(100vw - 120px);
    height: 100% !important;
    max-height: calc(100vh - 60px);
  }

  .tool-content {
    position: relative !important;
  }
}

#container-weave img {
  width: 100% !important;
  height: auto !important;
  position: relative;
  top: 0px !important;
  left: 0px !important;
}

#container-weave {
  #weave {
    position: relative;
    width: 100% !important;
    height: 100% !important;
    > .tool {
      position: relative !important;
      width: 100% !important;
      height: auto !important;
      left: unset !important;
      top: unset !important;
    }
  }
}

#container-weave .island-title {
  font-size: 62pt;
  font-family: 'nimbus sans l', sans-serif;
  font-weight: bold;
  text-align: center;
  width: calc(100vw - 120px);
  margin-top: 50px;
  margin-bottom: 60px;
}

#container-weave .island-quote-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  margin-bottom: 70px;
  margin: 0 40px;

  @media only screen and (max-width: 600px) {
    padding: 0;
  }
}

#container-weave .island-quote {
  margin-top: 60px;
  mix-blend-mode: difference;
  max-width: calc(50% - 80px);
  min-width: 30%;
  padding: 20px;

  @media only screen and (max-width: 600px) {
    width: 100%;
    max-width: 100%;
    padding-top: 20px;
  }

  .island-quote-text {
    font-family: 'libre baskerville', serif;
    font-size: 18pt;
    font-style: italic;
  }
  .island-quote-source {
    padding-top: 30px;
    font-family: 'nimbus sans l', sans-serif;
    font-size: 12pt;
    text-align: right;
  }
}

#container-weave .image-caption {
  font-family: 'nimbus sans l', sans-serif;
  font-size: 12pt;
  color: grey;
  margin-top: 10px;
  text-align: right;
}

#container-weave .a-island {
  font-family: 'nimbus sans l', sans-serif;
  font-size: 18pt;
  margin-top: 60px;
  text-align: center;
  > a {
    color: black;
  }
}
