#container-weave .nav-wrapper {
  position: absolute;
  top: 50%;
}

#container-weave .nav-link .left {
  text-align: left;
}

#container-weave .nav-link .right {
  text-align: right;
}

#container-weave .left {
  left: 0px;
}

#container-weave .right {
  right: 0;
}
